.inbox-container{
	width : 100%;
	height:600px;
	background:#fff;
	border : 1px solid #dadada;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:14px;
}
.inbox-container .main-section{float:left;height:100%;width:89.7%;}
.inbox-container .main-section .header-section{height:50px;background:#2DABFF;padding:10px;color:#fff;}
.inbox-container .main-section .header-section h3{margin-top:0px;margin-bottom:5px;}

.inbox-container .folders{float:left;height:100%;width:10%;text-align:center;border:1px solid #ccc;font-size: 14px;}
.inbox-container .folders ul{ list-style:none;padding:0px;}
.inbox-container .folders ul li{height:30px;width:100%;cursor:pointer;padding-top:40px;padding-bottom:40px;border-bottom:1px solid #dadada;cursor: pointer;font-size:16px;}
.inbox-container .folders ul li:hover{background:#2DABFF; color:#fff; }

.inbox-container .labels{background: #0599FC;color:#fff;height:30px;width:100%;}
.inbox-container .labels ul{ list-style:none;margin:0px;width: 100%;}
.inbox-container .labels ul li{height:10px;padding:5px;margin-left:5px;float:left;cursor:pointer;width:10%;}

.inbox-container .mails{padding:10px;background:;height:40%;border-bottom:1px solid #dadada;overflow-y: scroll;}
.inbox-container .mails ul{ list-style: none;margin:0px;cursor:pointer;padding:0px;}
.inbox-container .mails ul li{cursor:pointer;padding:10px;border-bottom: 1px solid #eaeaea;line-height: 20px;font-weight: bold;}
.inbox-container .mails ul li:hover{background: #eaeaea;}
.inbox-container .mails ul li .sender{font-size:12px; color:#8a8a8a;font-weight: normal;}

.inbox-container .mailBody{padding:10px;height:36.5%;overflow-y: scroll;}

code{background: #eaeaea;font-style: italic;font-size:90%;padding:5px;margin-bottom: 5px;}
ul.mylist{width:100%;}
ul.mylist li{padding:10px;}
.mypane{padding:10px; background: #eaeaea;}